body {
  margin: 0;
  height: 100%;
  text-align: center;
  background-color: #011F3F;
}

.gameName
{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  25px;
  color: #FEF2BF; 

}

#level-title {
  
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  
  color: #FEF2BF;
}

#start{

  margin: 25px auto;
  background-color: #6EBF8B;
  margin-bottom: 25px;
  color: #151D3B;
  font-weight: 700;
  width: 10rem;
  height: 5rem;
  border-radius: 4.5rem;
  font-size: 1em;
  font-family: 'Press Start 2P', cursive ;
}

@media only screen and (min-width: 850px) {
  .btn {
    margin: 25px; 
  }
 
}

.container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
 
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.win 
{
  background-color: green;
  opacity: 0.8;
}
.game-over {
  
  background-color: red;
  opacity: 0.8;
}

.red
{
  background-color: rgba(252, 53, 53, 0.548);
}

.green {
  background-color: rgba(16, 128, 16, 0.473);
}

.blue {
  background-color: rgba(27, 82, 235, 0.678);
}

.yellow {
  background-color: rgba(221, 221, 52, 0.705);
}

.cyan {
  background-color: rgba(53, 255, 255, 0.473);
}

.fuchsia {
  background-color: rgba(235, 74, 235, 0.548);
}

.blueviolet {
  background-color: rgba(156, 72, 235, 0.582);
}

.chartreuse {
  background-color: rgba(128, 255, 0, 0.521);
}

.orangered {
  background-color: rgba(255, 68, 0, 0.623);
}



.pressedred
{
  background-color: red;
  box-shadow: 0 0 50px #F24A72;
}

.pressedgreen {
  background-color: green;
  box-shadow: 0 0 50px #39ff14;
  
}

.pressedblue {
  background-color: blue;
  box-shadow: 0 0 50px #2FA4FF;
}

.pressedyellow {
  background-color: yellow;
  box-shadow: 0 0 50px #FDFFA9;

}

.pressedcyan {
  background-color: cyan;
  box-shadow: 0 0 50px #B8FFF9;

}

.pressedfuchsia {
  background-color: fuchsia;
  box-shadow: 0 0 50px #FF8AAE;
}

.pressedblueviolet {
  background-color: blueviolet;
  box-shadow: 0 0 50px #D18CE0;
}

.pressedchartreuse {
  background-color: chartreuse;
  box-shadow: 0 0 50px #B6FFCE;
}

.pressedorangered {
  background-color: orangered;
  box-shadow: 0 0 50px #F0A500;

}
