body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#start
{
  background-color: #6EBF8B;
  color: #151D3B;
  font-weight: 700;
  width: 10rem;
  height: 5rem;
  border-radius: 4.5rem;
  font-size: 1em;
  font-family: 'Press Start 2P', cursive ;
}

.container {
  display: block;
  max-width: 700px;
  margin: auto;

}

@media only screen and (min-width: 850px) {
  .btn {
    margin: 25px;
    
  }
  .container
  {
    max-width: 825px;
  }
}

.btn {
 
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  
  background-color: red;
  opacity: 0.8;
}

.red
{
  background-color: rgba(255, 0, 0, 0.548);
}

.green {
  background-color: rgba(0, 128, 0, 0.473);
}

.blue {
  background-color: rgba(0, 0, 255, 0.459);
}

.yellow {
  background-color: rgba(255, 255, 0, 0.479);
}

.cyan {
  background-color: rgba(0, 255, 255, 0.473);
}

.fuchsia {
  background-color: rgba(255, 0, 255, 0.479);
}

.blueviolet {
  background-color: rgba(137, 43, 226, 0.473);
}

.chartreuse {
  background-color: rgba(128, 255, 0, 0.473);
}

.orangered {
  background-color: rgba(255, 68, 0, 0.418);
}

.pink {
  background-color: rgba(255, 192, 203, 0.486);
}


.pressedred
{
  background-color: red;
}

.pressedgreen {
  background-color: green;
}

.pressedblue {
  background-color: blue;
}

.pressedyellow {
  background-color: yellow;
}

.pressedcyan {
  background-color: cyan;
}

.pressedfuchsia {
  background-color: fuchsia;
}

.pressedblueviolet {
  background-color: blueviolet;
}

.pressedchartreuse {
  background-color: chartreuse;
}

.pressedorangered {
  background-color: orangered;
}

.pressedpink {
  background-color: pink;
}